body, html {
    background: black;
    font-family: 'Open Sans', sans serif;
}


.container {
    height: 100vh;
}

.white {
  background-color: white;
}

.jumbotron {
    background-color:transparent;
    color: white;
}

.center-align {
    text-align:center;
    margin-top: 150px;
}

canvas {
  background-color:transparent;
  display: block;
}
